/* → → → Configuraciones Generales */
*{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

button {
    all: unset;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

*::selection {
    background-color: purple;
    color: white;
}

*::-webkit-scrollbar {
    /* width: 0.25rem;
    height: 0.25rem; */
    width: 0;
    height: 0;
}
/* Cierre Configuraciones Generales ← ← ← */


/* → → → Container Main */
.container-main {
    position: relative;
    width: 100%;
    height: 100vh; /* Esto asegura que el contenedor sea del tamaño de la ventana */
    overflow: hidden;
}

/* Estilos para el video de fondo */
.container-main .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que el video cubra todo el contenedor */
    z-index: -1; /* Coloca el video detrás del contenido principal */
}
/* Estilos generales del header */
.container-main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Para hacer el header fijo en la parte superior */
    width: 100%;
    background-color: transparent; /* Fondo transparente inicial */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
    padding: 20px; /* Espaciado interno */
    color: white; /* Color del texto */
    z-index: 999; /* Para asegurarse de que esté en la parte superior */
}

/* Estilos para el logo */
.container-main .logo img {
    max-width: 100px; /* Ajusta el tamaño del logo según tus preferencias */
    height: auto;
    margin-top: 10px; /* Agregar margen superior */
    margin-left: 20px; /* Agregar margen izquierdo */
    cursor: pointer; /* Cambiar el cursor al hacer clic en el logo */
}

/* Estilos para la barra de navegación */
.container-main nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre elementos de navegación */
}

.container-main nav ul li {
    font-size: 16px; /* Tamaño de fuente para los elementos de navegación */   
}

.container-main nav ul li a {
    text-decoration: none;
    color: white; /* Color del texto de los enlaces */
    font-weight: 400; /* Texto en negrita */
    margin-right: 40px; /* Espacio desde el margen derecho */
    transition: border-bottom 0.3s ease;
}

/* Cambiar el color del texto de los enlaces al pasar el cursor sobre ellos */
.container-main nav ul li a:hover {
    color: #FFC700;
    border-bottom: 2px solid #FFC700; 
    padding-bottom: 3px;
    transition: border-bottom 0.3s ease; /* Agregar transición suave */
}


/* Estilos para los párrafos */
.container-main .title {
    position: absolute;
    top: 60%; /* Centra verticalmente en relación con el contenedor principal */
    left: 100px; /* Ajusta el espaciado desde el borde izquierdo */
    transform: translateY(-50%); /* Corrige la alineación vertical */
    text-align: left;
}

.container-main .light-text {
    font-size: 30px;
    color: #FFC700; /* Color del primer párrafo */
    font-weight: lighter; /* Texto ligero */
    margin-bottom: 10px; /* Espacio inferior entre los párrafos */
}

.container-main .bold-text {
    font-size: 60px;
    color: #fff; /* Color del segundo párrafo */
    font-weight: bold; /* Texto en negrita */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Estilo para el div "subtitle" */
.container-main .subtitle {
    background-color: white; /* Fondo blanco */
    position: absolute; /* Posicionamiento absoluto para ubicarlo en el lado derecho */
    bottom: 0; /* Lo anclamos en la parte inferior */
    right: 0; /* Lo anclamos en el lado derecho */
    width: 50%; /* Ancho inicial del 50% del contenedor principal (ajusta según tus necesidades) */
    padding: 20px; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* El padding se incluye en el ancho */
    transition: width 0.5s; /* Transición suave para el cambio de ancho */
  }
  
  /* Estilo para los párrafos dentro de "subtitle" */
  .container-main .subtitle p {
    margin: 0; /* Elimina el margen predeterminado */
    font-size: 1rem; /* Tamaño de fuente inicial relativo */
  }

  /* Estilo para el primer párrafo "sub1" */
  .container-main .sub1 {
    position: relative;
    float: left; /* Hace que este párrafo se coloque a la izquierda del segundo párrafo */

    width: 50%; /* Ocupa inicialmente el 50% del ancho del div "subtitle" */
    clear: none; /* Elimina el efecto clear para que los párrafos estén uno al lado del otro */
    top: 10px; 
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .container-main  .sub2 {
    float: left; /* Hace que este párrafo se coloque a la izquierda del primer párrafo */
    width: 50%; /* Ocupa inicialmente el 50% del ancho del div "subtitle" */
    clear: none; /* Elimina el efecto clear para que los párrafos estén uno al lado del otro */
  }
  
  
  /* Establecer el ancho completo para pantallas pequeñas */
  @media (max-width: 768px) {
    .subtitle {
      width: 100%; /* Hacer que el div ocupe todo el ancho de la pantalla */
    }
  }
  
/* Cierre Container Main ← ← ← */

/* --------------------------- */

/* → → → Container About */
.container-about {
    margin-top: 50px;
    height: 100vh;
}

.container-about .square-background {
    position: absolute;
    left: -5rem;
    width: 65rem;
    height: 28rem;
    background: rgba(30, 0, 57, .70);
    backdrop-filter: blur(12px);
    border-radius: 60px;
    z-index: 2;
}

.container-about .square-background .title {
    position: relative;
    top: 3rem;
    left: 10rem;
    color: white;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
}

.square-background .p1 {
    position: relative;
    top: 4rem;
    left: 10rem;
    color: white;
}

/* Imagenes de Fondo */
.container-about .img-wrapper {
    display: flex;
    justify-content: space-between;
}

.container-about .fenix-img {
    align-self: flex-start;
    z-index: 2;
    mix-blend-mode: difference;
}

.container-about .background-img {
    align-self: flex-end;
    width: 30rem;
    transform: scaleX(-1);
}

.container-about .fenix-img img, 
.container-about .background-img img {
    width: 100%;
    height: auto;
}
/* Fin Imagenes de Fondo */

/* Cierre Container About ← ← ← */

/* --------------------------- */

/* → → → Container Services */

/* Cierre Container Services ← ← ← */

/* --------------------------- */

/* → → → Container Contact */
.container-contact {
    position: relative;
}

/* Cuadrado de contacto */
.container-contact .square-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: white;
}

.container-contact .square-wrapper .text {
    position: relative;
    top: 22rem;
    left: 12rem;
    z-index: 2;
}

.text::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px; 
    background-color: #7600E8; 
    border-radius: 5px;
    left: -3rem; 
}

.container-contact .square-wrapper h1 {
    font-size: 65px;
    width: 20rem;
    font-weight: 400;
    margin-left: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

/* Contact us button */
.container-contact .square-wrapper button {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 12rem;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    
    border-radius: 12px;
    color: black;
    background: white;

    transition: all 0.7s ease;
}

.container-contact .square-wrapper button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(185, 185, 185, 0.126), 0 6px 6px rgba(35, 35, 35, 0.23);
    transition: all 0.8s ease;
}
/* Fin Contact us button */

/* Popup */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Estilos para el contenido del popup */
.modal-content {
    width: 60%; 
    height: 70%;
    background: rgba(255, 255, 255, 0.5);
    margin: 5% auto; 
    padding: 20px;
    border-radius: 14px;
    backdrop-filter: blur(6px);
}

.modal-content .contact-label {
   position: relative;
   font-weight: 400;
   font-size: 30px;
   left: 40%;   
   text-transform: uppercase;
   font-family: 'Chakra Petch', sans-serif;
}

/* Inputs  */
.modal .row {
 width: 100%;
 margin-top: 20px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.modal .row input[type="tel"] {
   margin-left: 10px;    
}

.input-field {
 display: flex;
 flex-direction: column;
 flex: 1; 
 
}
.input-field label {
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 400;
}

.modal-content #textarea {
    margin-top: 10px;
}

.modal form input, 
.modal form textarea{
   height: 3rem;
   background: rgba(193, 193, 193, 0.21);
   backdrop-filter: blur(5px);
   border: none;
   border-radius: 10px;
   box-shadow: 3px 4px 9px 0px rgba(156, 156, 156, 0.45);
   padding-left: 20px;
}

.modal form textarea {
   resize: none;
   height: 5.5rem;
   padding: 13px 15px;
}

.modal form input::placeholder, 
.modal form textarea::placeholder{
   color: #8e8e8e;
   font-weight: 400;
}
/* // fin inputs */

/* Botón para cerrar el popup */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    transition: .5s;
}

.close:hover,
.close:focus {
    color: #FFD600;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
/* // fin boton x */

/* Submit button  */
.modal-content button {
   width: 90px;
   height: 40px;
   position: relative; 
   top: 25px;
   left: 45%;  
   background: rgb(0, 0, 0);
   text-align: center;
   border-radius: 5px;
   transition: .5s;
   font-weight: 400;
   color: white;
}

.modal-content button:hover {
   transition: .5s;
   background: #A51771;
}
/* // fin submit button */

/* Fin Popup */

.container-contact .square-wrapper button span {
    font-weight: 500;
    font-size: 21px;
}

.container-contact .square-wrapper button img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.container-contact .square-background {
    width: 40rem;
    height: 25rem;
    background: rgba(30, 0, 57, .70);
    backdrop-filter: blur(14px);
    border-top-left-radius: 80px;
}
/* Fin Cuadrado de contacto */

.container-contact .background-img {
    background-image: url('src/Footer background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transform: scaleX(-1);
}
/* Cierre Container Footer ← ← ← */

/* → → → Footer */
.container-footer {
    width: 100%;
    height: 200px;
    color: #fff;
    background: #1A0033;
}

/* Logo FIXME: Falta el boton para subir tocando el fenix*/ 
.container-footer .container-info .logo{
    align-content: center; 
    margin-right: 13rem;
    margin-top: 28px;
}

.container-footer .container-info .logo img {
    width: 6.2rem;
}
/* Fin Logo */

/* List */
.container-footer .container-info {
    position: relative;
    display: flex;
    justify-content: center;
    top: 18px;
}

.container-footer .nav .list-item{
    padding:7px;
    margin-right: 15rem;
    cursor: pointer;
}

.container-footer .contact-info .list-item{
    padding: 7px;
}

.container-footer .nav .list-item.about{
    margin-top: 20px;
}

.container-footer .contact-info .list-item.phone{
    font-size: 30px;
    font-weight: 400;
}
/* Fin List */

/* Copyrigth */
.container-footer .copyrigth {
    position: relative;
    left: 10%;
    bottom: -20%;
}

.container-footer .copyrigth span {
    color: #AAAAAA;
}
/* Fin Copyrigth */
/* Cierre Container Footer ← ← ← */