/* → → → Configuraciones Generales */
*{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

button {
    all: unset;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

*::selection {
    background-color: purple;
    color: white;
}

*::-webkit-scrollbar {
    /* width: 0.25rem;
    height: 0.25rem; */
    width: 0;
    height: 0;
}
/* Cierre Configuraciones Generales ← ← ← */


/* → → → Container Main */

/* Cierre Container Main ← ← ← */

/* --------------------------- */

/* → → → Container About */

/* Cierre Container About ← ← ← */

/* --------------------------- */

/* → → → Container Services */

/* Cierre Container Services ← ← ← */

/* --------------------------- */

/* → → → Container Contact */
.container-contact {
    position: relative;
}

/* Cuadrado de contacto */
.container-contact .square-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: white;
}

.container-contact .square-wrapper .text {
    position: relative;
    top: 22rem;
    left: 12rem;
    z-index: 2;
}

.text::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px; 
    background-color: #7600E8; 
    border-radius: 5px;
    left: -3rem; 
}

.container-contact .square-wrapper h1 {
    font-size: 65px;
    width: 20rem;
    font-weight: 400;
    margin-left: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

.container-contact .square-wrapper button {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 12rem;
    justify-content: center;
    padding: 20px;
    
    border-radius: 12px;
    color: black;
    background: white;
}

.container-contact .square-wrapper button span {
    font-weight: 500;
    font-size: 21px;
}

.container-contact .square-wrapper button img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.container-contact .square-backround {
    width: 40rem;
    height: 25rem;
    background: rgba(30, 0, 57, .77);
    backdrop-filter: blur(14px);
    border-top-left-radius: 80px;
}
/* Fin Cuadrado de contacto */

.container-contact .background-img {
    background-image: url('src/Footer background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transform: scaleX(-1);
}
/* Cierre Container Footer ← ← ← */

/* → → → Footer */
.container-footer {
    width: 100%;
    height: 200px;
    color: #fff;
    background: #1A0033;
}

/* Logo FIXME: Falta el boton para subir tocando el fenix*/ 
.container-footer .container-info .logo{
    align-content: center; 
    margin-right: 13rem;
    margin-top: 28px;
}

.container-footer .container-info .logo img {
    width: 6.2rem;
}
/* Fin Logo */

/* List */
.container-footer .container-info {
    position: relative;
    display: flex;
    justify-content: center;
    top: 18px;
}

.container-footer .nav .list-item{
    padding:7px;
    margin-right: 15rem;
    cursor: pointer;
}

.container-footer .contact-info .list-item{
    padding: 7px;
}

.container-footer .nav .list-item.about{
    margin-top: 20px;
}

.container-footer .contact-info .list-item.phone{
    font-size: 30px;
    font-weight: 400;
}
/* Fin List */

/* Copyrigth */
.container-footer .copyrigth {
    position: relative;
    left: 10%;
    bottom: -20%;
}

.container-footer .copyrigth span {
    color: #AAAAAA;
}
/* Fin Copyrigth */
/* Cierre Container Footer ← ← ← */